@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #cbd5e1;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
  }

  .sidebar-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .sidebar-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .sidebar-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
  }
  .sidebar-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #e2e8f0;
  }
  .sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
  }
}
